<h1 class="text-center text-mishmash">Welcome, @User!</h1>
<h2 class="text-mishmash">Your channels</h2>
<hr class="bg-mishmash hr-2" />

<div class="card-deck">
    @foreach(var channel in Model)
    {
        <div class="card text-white bg-mishmash mb-3 text-center" style="min-width: 15rem; max-width: 18rem;">
            <div>@channel.Name</div>
            <hr class="hr-2 w-75" style="background-color: white"/>
            <div>@channel.Type</div>
            <hr class="hr-2 w-75" style="background-color: white"/>
            <div>@channel.FollowersCount Followers</div>
            <hr class="hr-2 w-75" style="background-color: white"/>
            <div>Followed</div>
        </div>
    }
</div>
<h2 class="text-mishmash">Suggested</h2>
<hr class="bg-mishmash hr-2" />

<h2 class="text-mishmash">See Other</h2>
<hr class="bg-mishmash hr-2" />
