<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Register</title>
</head>
<body>
    <h1>IRunes</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Users/Login">Login</a></li>
        <li><a href="/Users/Register">Register</a></li>
    </ul>
    <hr />
    <h1>Register</h1>
    <form method="post" action="/Users/Register">
        Username <input type="text" name="username" placeholder="Username..." /><br />
        Password <input type="password" name="password" placeholder="Password..." /><br />
        Confirm Password <input type="password" name="confirmPassword" placeholder="Confirm Password..." /><br />
        Email <input type="email" name="email" placeholder="Email..." /><br />
        <input type="submit" value="Register" />
    </form>
    <footer>
        <p><strong>Copyright &#169 Sanity Design Studios. All rights reserved</strong></p>
    </footer>
</body>
</html>