<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Track Details</title>
</head>
<body>
    <h1>IRunes</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Users/Login">Login</a></li>
        <li><a href="/Users/Register">Register</a></li>
    </ul>
    <hr />
    @trackData
    <hr />
    <a href="/Albums/Details?id=@albumId">Back To Album</a>
    <hr />
    <footer>
        <p><strong>Copyright &#169 Sanity Design Studios. All rights reserved</strong></p>
    </footer>
</body>
</html>