<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Home</title>
</head>
<body>
    <h1>IRunes</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Users/Login">Login</a></li>
        <li><a href="/Users/Register">Register</a></li>
    </ul>
    <hr />
    <h1>Welcome to IRunes</h1>
    <h2><a href="/Users/Login">Login</a> if you have an account.</h2>
    <h2><a href="/Users/Register">Register</a> if you don't.</h2>
    <hr />
    <footer>
        <p><strong>Copyright &#169 Sanity Design Studios. All rights reserved</strong></p>
    </footer>
</body>
</html>